<html>
<head>
    <!--引用webpack.dev.js里设置的htmlWebpackPlugin插件属性的语法示例-->
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="profile">
    <img src="<%= require("./images/link.jpg") %>" alt="">
    <h1>Hello 米斯特吴!</h1>
</div>
<script src="/main-bundle.js"></script>
</body>

</html>
